{% extends 'repositorio/index.html' %}

{% block titulo %}
    <h1>Datos de los docentes</h1>
{% endblock titulo %}
    

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
    <tbody>
    {% for docente in docentes %}
    <tr>
        <td>{{ docente.id}}</td>
        <td>{{ docente.nombre}}</td>
        <td>{{ docente.apellido}}</td>
        <td>{{ docente.mail}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}