{% extends 'repositorio/index.html' %}

{% block titulo %}
    <h1>Materias</h1>
{% endblock titulo %}
    

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre de la matería</th>
            <th>Código</th>
        </tr>
    </thead>
    <tbody>
    {% for materia in materia %}
    <tr>
        <td>{{ materia.id}}</td>
        <td>{{ materia.nombre}}</td>
        <td>{{ materi.codigo}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    